* {
    font-family: monospace;
    font-weight: bold;
}

.videos-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    video {
        width: 600px;
        height: 200px;
    }
}

.vid {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .btn {
        margin: 10px 0 0 0;
        cursor: pointer;
    }

}

.text {
    width: 100%;
    text-align: center;
}